:root {
  --primary: #0000ff;
  --dark-primary: #0000d1;
  --very-dark-primary: #37636e;

  --info: #0d8cff;
  --dark-info: #0075e2;

  --danger: #ee2c2c;
  --dark-danger: #d40202;

  --secondary: #c7c7c7;
  --light-secondary: #eff1f2;
  --very-light-secondary: #f7f7f7;

  --xs: 14px;
  --sm: 16px;
  --md: 18px;
  --lg: 20px;
  --xl: 22px;
  --xl2: 24px;
  --xl3: 26px;
  --xl4: 32px;
}
